/* ===================   register starts   ===================== */ 
#register{
    text-align: center;
    
    
    .register-item{
        position: relative;
        .register-text{
            width: 865px;
            background: $ie-bg;
            padding-top: 40px;
            padding-bottom: 40px;
            position: absolute;
            top: -130px;
            left: 50%;
            
            h3{
                color: #fff;
                font-size: 33px;
                font-family: $rw;
                font-weight: 700;
            }
            p{
                color: $para;
                font-size: 15px;
                font-weight: 400;
                padding: 15px 100px 40px 100px;
                line-height: 20px;
            }
            form{
                position: relative;

                .err{
                    position: absolute;
                    left: 120px;
                    bottom: -30px;
                    color: $l-red;
    
                    
                }
                .email-1{
                    width: 480px;
                    line-height: 50px;
                    font-family: $os;
                    font-size: 15px;
                    border: none;
                    outline: 0;
                    padding-left: 40px;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                    &::placeholder{
                        color: $para;
                        font-family: $os;
                        
                    }
                }
                .btn-01{
                    width: 200px;
                    background: hsl(176, 51%, 51%);
                    font-family: $os;
                    color: #fff;
                    font-weight: 700;
                    font-size: 15px;
                    border: none;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                    margin-left: 25px;
                    @include trans1(0.3s);
                }
                &:hover{
                    .btn-01{
                        background: $cyan;
                    }
                }
            }
            transform: translateX(-50%);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.6);
        }
    }
}
/* ===================   register   ends   ===================== */ 
